API_KEY = ''   # If you plan to use external LLM API, please provide your API key here.
HUMAN_LAYER_KEY = '' # If you plan to use Human Layer, please provide your API key here.
LINKUP_API_KEY = '' # If you plan to use LinkUp API, please provide your API key here.